package com.example.demo.repositories;

import com.example.demo.generated.repositories.{{entity.name}}GeneratedRepository;

public interface {{entity.name}}Repository extends {{entity.name}}GeneratedRepository {

}